/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    background-color: #0A1420;
    background-image: 
    url(../img/grid.png),
    linear-gradient(237.77deg, #050b14, #001329);
    background-size: cover;
    color: #fff;
    font-family: sans-serif;
    scrollbar-color: #fff #050b14;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 2px;
    height:5px;
  }
  ::-webkit-scrollbar-track {
    background: #53B9FC;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }

header{
    width: 100%;
    height: 8vh;
}

main{
    display: flex;
    justify-content: center;
    width: 92%;
}
.mainHome{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "distance distance distance alert"
        "calendar daily objective calc"
        "sleep sport daily_sport note" ;
}
@media only screen and (max-width: 1200px){
    main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "distance" "alert" "calendar" "daily" "objective" "calc" "sleep" "sport" "daily_sport" "note" ;
    }
}

.mainSport{
    display: grid;
    grid-template-columns: .8fr .8fr .8fr .8fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "distance distance distance distance"
        "sport daily_sport objective objective"
        "historic historic steps steps" ;
}

@media only screen and (max-width: 1200px){
    main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "distance"  "objective" "sport" "daily_sport" "historic" "steps" ;
    }
}

.distance{
    grid-area: distance;
    width: 100%;
}

.alert{
    grid-area: alert;
    display: flex;
    justify-content: center;
}

.calendar{
    grid-area: calendar;
}

.daily{
    grid-area: daily;
    padding: 0 5%;
}

.objective{
    grid-area: objective;
    padding: 0 5%;
}

.calc{
    grid-area: calc;
}

.sleep{
    grid-area: sleep;
}

.sport{
    grid-area: sport;
}
.daily_sport{
    grid-area: daily_sport;
    position: relative;
    display: flex;
    justify-content: center;
}

.historic{
    grid-area: historic;
    padding-right: 5%;
}

.steps{
    grid-area: steps;
    padding-right: 5%;
}
.daily_sport p {
    position: absolute;
}

.goalBartitle:nth-of-type(1) {
  top:8%;
  left: 43%;
  color: #00aeff;
}
.goalBartitle:nth-of-type(2) {
    top:15%;
    left: 44%;
    color: #FFA200;
  }

  .goalBartitle:nth-of-type(3) {
    top:22%;
    left: 38%;
    color: #C75EC3;
  }

.note{
    grid-area: note;
    display: flex;
    justify-content: center;
}
.note .containerNote{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.containerNote input, .containerNote textarea{
    background: none;
    border: none; 
    resize: none;
    margin: 5% 0;
    color: #fff;
    scrollbar-color: #fff #e5e380;
    scrollbar-width: thin;
}

nav {
    margin: 50% 25% 50%;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

aside{
    width: 8%;
    height: 92vh;
}

h2{
    font-size: 1.2vw;
    margin: 1% 0;
}

.center{
    text-align: center;
}

.inline{
    display: flex;
    flex-flow: row nowrap;
}

.btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1vw;
    cursor: pointer;
}

.containerGraphSkills{
    display: block;
    width: 100%;
    height: 80%;
    border-left: solid 1px #fff;
    margin: 3%
}

.containerSkills {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;
    align-content: space-around;
    width: 100%;
    height: 25%;
    background: none;
  }
  
  .skills {
    height: 10px;
    margin-right: 10px;
  }
  
  .bike {width: 20%; background-color: rgba(0, 174, 255, 0.2); border: rgb(0, 174, 255) 1px solid ;}
  .walking {width: 10%; background-color: rgba(0, 255, 145, 0.2); border: #00FF90 1px solid ;}
  .medit {width: 60%; background-color: rgba(199, 94, 195, 0.2); border: #C75EC3 1px solid ;}
  .running {width: 10%; background-color: rgba(255, 162, 0, 0.20); border: #FFA200 1px solid ;}

  .containerAlert{
      background: url('../svg/alert.svg')  no-repeat;
      width: 280px;
      height: 280px;
  }

  .bell {
      margin: 10%
  }

input[type="text"]{
    color: #fff;
    background: none;
    border : none;
    border-bottom: 1px solid #fff;
}
  .toDoList{
    display: block;
    width: 100%;
    height: 230px;
    overflow-y: auto;
    scrollbar-width: thin;
}

  .toDoList li{
    padding: 10px;
    border-bottom: solid 1px #fff
  }

.calendar img {
    width: 80%;
}

.calendarContainer{
    position: relative;
    display: flex;
    flex-flow: column;
    width: 90%;
}

.calendarHeader{
    width: 100%;
    justify-content: center;
    margin: 3vh 0 5vh;
    font-size: 1.2vw;
}

.calendar tbody tr{
    height: 10vh;
}

.calendar .head{
    height: 4vh;
}

.calendar td{
    width: 1%;
    border: solid 1px #fff;
    padding: 1%;
}
.bg-info{
    color: #53B9FC;
}

.cell{
    position: relative;
    width: 7vw;
    height: 7vh;
}


.date{
 color: red;
}

.divGlobal{
    height: 7vh;
    overflow-y: auto;
}

.eventDay{
    margin: 3% 0;
    padding: 2%;
    background-color: #8289E1;
    color: #0d1722e7;
}
.eventDay:nth-child(odd){
    background-color: #53B9FC;
}

.containerNewEvent{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0d1722e7
}

.containerNewEvent input{
    margin: 1%;
    width: 10%;
}

.deletedEvent{
    float: right;
    margin-right: 1%;
}

.containerDetails{
    display: none;
    position: absolute;
    left: 50%;
    width: 100%;
    height: 15vh;
    z-index: 1;
    background-color: #0d1722e7;
    border: #ffffff solid 1px;
}

#month, #year{
    background-color: #0d1722e7;
    border: #ffffff solid 1px;
    color: #fff;
}

.divText{
    width: 7.5vw;
    height: 6vh;
    word-wrap: break-word;
    overflow-y: auto;
}

.formJumpTo{
    position: absolute;
    top: 2%;
    right: 10%;
}
#goalBar{
    transform: rotate(-90deg);
}

.historic table{
    width: 100%;
}
.historic thead{
    font-weight: bold;
}
.historic tr{
    border-bottom: 2px solid #ffffff20
}

.historic td{
    text-align: center;
    padding: 10px;
}